@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---------------------------- GENERAL ---------------------------- */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Urbanist, Montserrat, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    padding: 0;
}

/* ---------------------------- HEADER ----------------------------- */

header {
    background-color: #cfcfc4;
    color: #333303;
    padding: 50px 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
}

/* ----------------------------- MAIN ------------------------------ */

main {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.player-side {
    justify-self: center;
    align-self: center;
}

.player-side img {
    width: 350px;
    height: auto;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gameboard {
    width: 600px;
    height: 600px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    justify-self: center;
    align-self: center;
}

.cell {
    border: black solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 10px 4px #CCCEDD;
}

.cell[data-cell-index="1"] {
    border-top-left-radius: 20px;
}

.cell[data-cell-index="3"] {
    border-top-right-radius: 20px;
}

.cell[data-cell-index="7"] {
    border-bottom-left-radius: 20px;
}

.cell[data-cell-index="9"] {
    border-bottom-right-radius: 20px;
}

.cell img {
    width: 140px;
    height: auto;
}

button.reset {
    background-color: #9C9C65;
    color: whitesmoke;
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    font-size: 1.15rem;
}

/* ---------------------------- FOOTER ----------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
    height: auto;
}